
/* FONTS */
@font-face {
    font-family: 'Corporative-Black-Extra';
    src: url('/assets/fonts/Corporative-Black-Extra.otf');
}

@font-face {
    font-family: 'Corporative-Black-Italic';
    src: url('/assets/fonts/Corporative-Black-Italic.ttf');
}
@font-face {
    font-family: 'Corporative-Black';
    src: url('/assets/fonts/Corporative-Black.ttf');
}
@font-face {
    font-family: 'Corporative-Bold-Italic';
    src: url('/assets/fonts/Corporative-Bold-Italic.ttf');
}
@font-face {
    font-family: 'Corporative-Book';
    src: url('/assets/fonts/Corporative-Book.ttf');
}
@font-face {
    font-family: 'Corporative-Italic';
    src: url('/assets/fonts/Corporative-Italic.ttf');
}
@font-face {
    font-family: 'Corporative-Regular-Italic';
    src: url('/assets/fonts/Corporative-Regular-Italic.ttf');
}
@font-face {
    font-family: 'Corporative-Regular';
    src: url('/assets/fonts/Corporative-Regular.ttf');
}
  
  
/* Global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --primary-color: #264c84;
    --secondary-color: #0090f1;
    --bg-color: #f2f5f8;
}

body{
    height: 100vh;
    font-family: 'Corporative-Regular';
    font-weight: 500;
    font-size: 1.2vw;
    letter-spacing: 0.05vw;
}
a{
    text-decoration: none;
    color: #000;
}
.center-it{
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    padding: 5vw 0;
}
.px-28vw{
    padding: 0 25vw;
}
.m-0{
    margin: 0 !important;
}
.flex-col{
    flex-direction: column;
}
button, a{
    cursor: pointer;
}
.btn{
    font-size: 1.2vw;
}
/* HOMEPAGE */

/* Hero Section */
.container{
    padding: 0 5vw;    
}

.hero-section{
    width: 100%;
    height: auto;
    /* background-image: url(/assets/images/header-bg.png);
    background-repeat: no-repeat;
    background-size: contain; */
}

.hero-section{
    background-color: var(--bg-color);
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5vw 0.7vw;
}
.header .logo-img{
    width: -webkit-fill-available;
    max-width: 17vw;
    height: auto;
}
.header .logo-img img{
    width: 100%;
}
.header-actions{
    display: flex;
    align-items: center;
}
.header-actions .nav{
    margin-right: 1.5vw;
}
ul{
    list-style: none;
}
.nav{
    display: flex;
}
.nav .nav-links{
    margin-left: 1.2vw;
    margin-right:1.2vw;
    font-size: 1.1vw;
}
.nav .nav-links a{
    text-decoration: none;
    color: #000;
    font-family: 'Corporative-Book';
    font-weight: 500;
}
.nav .nav-links a:hover{
    color: var(--secondary-color);
}
.nav .nav-links.active a{
    color: var(--secondary-color);
    font-family: 'Corporative-Regular';
    font-weight: 600;
}
.nav .nav-links:first-child{
    margin-left: 0;
}

.nav .nav-links:last-child{
    margin-right: 0;
}

.cta-btns{
    min-width: fit-content;
    display: flex;
    align-items: center;
}

.cta-btns .contact{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3;
    margin-right: 0.8vw;
}
.cta-btns .contact img{
    margin: 0 0.5vw;
    max-width: 2.4vw;
    width: -webkit-fill-available;
    min-width: 2.5vw;
}

.cta-btns a{
    font-weight: 700;
    color: var(--primary-color);
    min-width: fit-content;
}
.btn{
    color: #fff;
    padding: 0.9vw 1.2vw;
    outline:none;
    border-radius:  4vw;
    border: none;
    font-weight: 600;
    margin: 0 0.2vw;
}

.cta-btns .register-btn {
    background-color: var(--secondary-color);

}
.cta-btns .signin-btn {
    background-color: var(--primary-color);
}

.btn-primary{
    background-color: var(--primary-color);
}

.btn-secondary{
    background-color: var(--secondary-color);
}

.text-center{
    text-align: center;
}
.w-100{
    width: 100%;
}
.header + .title {
    margin-top: 2vw;
}
.title h4{
    font-size: 3vw;
}

.title.primary{
    color: var(--primary-color)
}

.title.secondary{
    font-weight: 400;
    color: var(--secondary-color)
}

.sub-title{
    font-size: 1.45vw;
    line-height: 1.5;
    padding: 1vw 0;
}

.search-input{
    width: 39vw;
    height: auto;
    border: 0.1vw solid #ccc;
    border-radius: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2vw;
    margin: 0 auto;
    margin-top: 1.2vw;
}
.search-input input{ 
    outline: none;
    border: 0;
    width: 100%;
    min-width: 22.5vw;
    height: 3.2vw;
    background-color: var(--bg-color);
}
.search-input input::placeholder{ 
    font-size: 1.1vw;
}

.search-input img{
    width: 5vw;
    padding: 0 1vw;

}


.home-bg-img {
    width: 100%;
    height: 25vw;
    background-image: url(/assets/images/home-bg-img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.2;
}

.home-bg-img img{ 
    width: 100%;
}

/* .hero-section.container::after{
    content: '';
    width: 100%;
    height: auto;   
    background-image: url(/assets/images/header-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 9999;
} */

/* .hero-section.container::after {
    content: '';
    width: 100%;
    height: 100vw;
    background-image: url(/assets/images/header-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
    position: absolute;
    top: -18.5vw;
    left: 0vw;
} */

#mobile-menu{
    display: none;
}
#mobile-nav{
    display: none;
}

.steps {
    margin-left: -7vw;
}
#navigations .btn{
    padding: 0.7vw 1.2vw;
    font-size: 1vw;
}

/* Responsive */

@media (max-width: 900px) {
    .container {
        padding: 0 2vw;
    }
    .header{
        padding: 3.5vw 2vw;
    }
    .header .logo-img {
        max-width: 30vw;
        height: auto;
    }
    .nav .nav-links {
        margin-left: 0.1rem;
        margin-right: 0.1rem;
        font-size: 2.5vw;
    }
    #mobile-menu{
        display: block;
    }
    #mobile-menu img{
        max-width: 6vw;
    }
    /* #navigations{
        display: block;
        width: min-content;
        border-radius: 5vw;
        background-color: #fff;
        border: 0.3vw solid #ccc;
        width: 100%;
        height: auto;
        position: absolute;
    } */

    #navigations {
        width: min-content;
        border-radius: 2vw;
        background-color: #fff;
        border: 0.3vw solid #ccc;
        width: 55vw;
        height: 66vw;
        position: absolute;
        top: 13vw;
        right: 4vw;
        z-index: 1;
    }

    /* .navigations.active .nav{
        display: block;
        width: 50%;
        height: 40vw;
        position: absolute;
        top: 15vw;
        right: 0vw;
        padding: 1vw;
        padding: 5vw;
    } */

    .navigations.center-it{
        display: none;
    }

    .navigations.active{
        display: block;
    }
    .navigations.active .nav {
        display: block;
        width: 100%;
        height: 40vw;
        position: relative;
        top: 2vw;
        right: 0vw;
        line-height: 1.6;
        padding: 1vw 4.5vw;
    }

    .register-btn, .signin-btn{
        padding: 2vw 3.2vw;
    }

    .navigations.active .nav a{
        font-size: 5vw;
    }
    /* .navigations.active .cta-btns {
        position: absolute;
        top: 55vw;
        right: 6vw;
    } */

    .navigations.active .cta-btns {
        position: relative;
        top: 6vw;
        left: 0vw;
    }
    .cta-btns{
        flex-direction: column;
    }
    .cta-btns .contact img{
        min-width: 5vw;
    }
    .cta-btns .contact a{
        font-size: 3vw;
        margin: 2vw 0 3vw 0;
    }
    .cta-btns .center-it button{
        margin-left: 1vw;
        margin-right: 1vw;
        font-size: 3vw;
    }

    .header + .title {
        margin-top: 8vw;
    }

    .title h4 {
        font-size: 6vw;
    }
    .sub-title {
        font-size: 3vw;
    }

    .hero-section.container::after {
        content: '';
        top: 15.5vw;
    }

    .search-input {
        width: 70vw;
        margin-top: 2.2vw;
    }
    .search-input input {
        height: auto;   
    }
    .btn {
        padding: 1.5vw 2.5vw;
        border-radius: 5vw;
    }
    .search-input {
        border-radius: 10vw;
        padding: 0.5vw;
    }
    .btn {
        font-size: 3vw;
    }
    .no-matter .btn {
        padding: 0.8vw 3vw;
    }

}



/* How to Sell */
.how-to-sell {
    position: relative;
    /* margin-top: 12vw; */
    background-color: #f2f5f8;
}

.section-title{
    font-size: 2.8vw;
    font-family: 'Corporative-Book';
    font-weight: 100;
    color: var(--primary-color);
    text-align: center;
    text-transform: capitalize;
}

.section-title strong{
    font-weight: 800;
}

.how-to-sell .section-title::after,
.no-matter .section-title::after,
.testimonials .section-title::after{
    content: '';
    width: 3vw;
    height: auto;
    border-top: 0.2vw solid var(--secondary-color);
    position: absolute;
    top: 9vw;
    right: 50%;
}
.how-to-sell .img-how-to-sell{
    width: -webkit-fill-available;
    max-width: 33vw;
}
.how-to-sell .img-how-to-sell img{
    width: 100%;
}

.how-to-sell-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 5vw;
    padding-top: 4vw;
}
.steps{
    display: flex;
    /* justify-content: flex-start; */
    align-items: flex-start;
    list-style: none;
    flex-direction: column;
}

.step{
    margin-top: 2.5vw;
    margin-bottom: 2vw;
    width: 30vw;
}
.steps .step img{
    width: inherit;
    max-width: 4.5vw;
    margin: 0 1vw;
}

.steps .step p{
    font-size: 1.2vw;
    font-family: 'Corporative-Regular';
    font-weight: 1000;
    width: 15vw;
}

.step::after{
    width: max-content;
    height: auto;
    position: relative;
    top: -3.6vw;
    left: -20vw;
    font-size: 1.2vw;
    font-family:  'Corporative-Regular';
    font-weight: bolder;
    color: var(--primary-color);
}

#step-1::after{
    content: 'Step-1';
}

#step-2::after{
    content: 'Step-2';
}
#step-3::after{
    content: 'Step-3';
}


.bottom-text {
    font-size: 1.6vw;
    font-weight: 900;
    margin: 1.5vw 0;
    line-height: 1.5;
}


.how-to-sell .btn{
    margin: 0 1vw;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 1.2vw;
}

.no-matter{
    position: relative;
}
.no-matter .section-title{
    margin: 2vw;
}

.no-matter .img-container{ 
    max-width: 27vw;
}

.no-matter img{
    width: 100%;
}

.no-matter .btn{
    margin-top: 2vw;
}
.no-matter .section-title::after {
    top: 14vw;
    right: 48%;
}
.circular-img-container{
    max-width: 6.5vw;
}

.circular-list {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0 10vw;
    position: absolute;
    top: 14.5vw
}

.circular-list ul li{
    margin: 3.5vw 0;
}

.circular-list-right li, .circular-list-left li{
    position: relative;
}

.circular-list img{
    width: 100%;
    border-radius: 50%;
    box-shadow: 1px 1px 39px 0px #b8b8b8;
}


.circular-list-left #circular-item-1{
    position: relative;
    right: -2vw;
}

.circular-list-left #circular-item-3{
    position: relative;
    right: -2vw;
}


.circular-list-right #circular-item-4{
    position: relative;
    left: -2vw;
}


.circular-list-right #circular-item-6{
    position: relative;
    left: -2vw;
}

.circular-list-left p{
    text-align: right;
}

.circular-list-name{
    font-size: 1.5vw;
    font-family: 'Corporative-Regular';
    font-weight: 1000;
    position: absolute;
    width: min-content;
    white-space: nowrap ;
}

#circular-item-1 .circular-list-name,
#circular-item-2 .circular-list-name,
#circular-item-3 .circular-list-name {
    top: 2.2vw;
    right: 8vw;
}


#circular-item-4 .circular-list-name, 
#circular-item-5 .circular-list-name,
#circular-item-6 .circular-list-name{
    top: 2.2vw;
    left: 8vw;
}

.px-2vw{
    padding-left: 2vw;
    padding-right: 2vw;
}
.center-it.flex-col{
    margin-top: 5vw;
}

.half-circle {
    background-image: url(/assets/images/Ellipse.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 62%;
    z-index: -1;
    position: absolute;
    top: 5vw;
    left: 0;
}

/* Responsive */
@media (max-width:900px) {
    .no-matter .btn{
        padding-top: 0.6vw;
        padding-bottom: 0.6vw;
    }
    .section-title {
        font-size: 3.5vw;
    }
    .step {
        margin-top: 3.5vw;
        margin-bottom: 3vw;
        width: 45vw;
    }
    .steps .step p {
        font-size: 2.5vw;
        width: 32vw;
        line-height: 1.2;
    }
    .step::after {
        min-width: max-content;
        height: auto;
        position: relative;
        top: -4.6vw;
        left: -38vw;
        font-size: 2vw;
    }
    .how-to-sell-content {
        padding-left: 12vw;
    }
    .px-28vw {
        padding: 0 10vw;
    }
    .bottom-text {
        font-size: 2.5vw;
        margin-top: 3vw;
        margin-bottom: 3vw;
    }
    .circular-list-name {
        font-size: 2.5vw;
    }
    .search-input input::placeholder{ 
        font-size: 2.5vw;
    }
    .how-to-sell .btn { 
        font-size: 3vw;
    }
    .how-to-sell .section-title::after, .no-matter .section-title::after{
        content: '';
        top: 11vw;
    }
    .no-matter .section-title::after{
        content: '';
        top: 16vw;
    }
}
